.tags
{
    display: flex;
    position: relative;
    top: -20px;
    left:180px;
    gap: 15px;
}
.tags a
{
    text-decoration: none;
    color: #000;
}
.tag1
{
    background-color: darkgray;
    

}
.head,h3,p
{
    position: relative;
    top: -250px;
    text-size-adjust:30px;
    left: 20px;
    color: white;

}
.id
{
    padding-top: "500px";
}